<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pulse Animation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="animation_pulse.css">
</head>

<body>
    <div class="streamers">
        <div class="streamer">
            <div class="icon">
                <!-- Photo by <a href="https://unsplash.com/ja/@mossikz?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Mostafa KordZangeneh</a> on <a href="https://unsplash.com/photos/_tcJW4nqVtw?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
                <img src="images/headshot1.jpg" alt="Headshot Of Millennial Guy Laughing Looking At Camera Standing">
            </div>
            <p class="name">Gamer1</p>
            <p class="number">36.1k</p>
        </div>
    </div>
</body>
<footer>
    <div class="attribution">
        <div>
            <a href="https://www.youtube.com/watch?v=PMGCOVfK-8s"><img src="images/yt_icon_mono_dark.png" alt=""></a>
            YouTube Tutorial by <a href="https://www.youtube.com/@KevinPowell" target="_blank">Kevin Powell</a>.
        </div>
        <div>
            <p>Coded by <a href="https://atarak.github.io/">Atarak</a>.</p>
        </div>
    </div>
</footer>

</html>