<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Slide Up</title>
    <link rel="stylesheet" href="card_slide_up.css">
</head>

<body>

    <div class="card">
        <div class="card-content">
            <h2 class="card-title">Pasta</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi delectus deleniti itaque culpa facere.
            </p>
            <a href="#" class="button">Get recipe</a>
        </div>
    </div>
</body>

</html>