<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show-Hide Card Details</title>
    <link rel="stylesheet" href="card_showhide_details.css">
</head>

<body>
    <div class="game">
        <div class="rank">3</div>
        <div class="front">
            <!-- Photo by <a href="https://unsplash.com/@theshubhamdhage?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Shubham Dhage</a> on <a href="https://unsplash.com/s/photos/illustration-space?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
            <img class="thumbnail" src="images/game_cover2.jpg" alt="">
            <h3 class="game-name">Game Name</h3>
            <div class="stats">
                <p class="viewers">539.9k</p>
                <div class="streamers">
                    <img src="images/gamer_headshot1.jpg" alt="">
                    <!-- Photo by <a href="https://unsplash.com/@austindistel?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Austin Distel</a> on <a href="https://unsplash.com/s/photos/millenial-smiling-headshot?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
                    <img src="images/gamer_headshot2.jpg" alt="">
                    <!-- Photo by <a
                        href="https://unsplash.com/@brookecagle?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Brooke
                        Cagle</a> on <a
                        href="https://unsplash.com/s/photos/millenial-smiling-headshot?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
                    <img src="images/gamer_headshot3.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="back">
            <div class="streaming-info">
                <p class="game-stat">559k<span>Streams</span></p>
                <p class="game-stat">25.8k<span>Watching</span></p>
            </div>
            <button class="btn">See more streams</button>
            <div class="streamers">
                <div class="streamer"><img src="images/gamer_headshot1.jpg" alt="" class="icon">
                    <p class="streamer-name">Gamer1</p>
                    <p class="streamer-number">36.1k</p>
                </div>
                <div class="streamer"><img src="images/gamer_headshot2.jpg" alt="" class="icon">
                    <p class="streamer-name">Gamer2</p>
                    <p class="streamer-number">35.2k</p>
                </div>
                <div class="streamer"><img src="images/gamer_headshot3.jpg" alt="" class="icon">
                    <p class="streamer-name">Gamer3</p>
                    <p class="streamer-number">34.9k</p>
                </div>
            </div>
        </div>
        <div class="background">

        </div>
    </div>
</body>
<footer>
    <div class="attribution">
        <div>
            <a href="https://www.youtube.com/watch?v=YmyqlM13JUU"><img src="images/yt_icon_mono_dark.png" alt=""></a>
            YouTube Tutorial by <a href="https://www.youtube.com/@KevinPowell" target="_blank">Kevin Powell</a>.
        </div>
        <div>
            <p>Coded by <a href="https://atarak.github.io/">Atarak</a>.</p>
        </div>
    </div>
</footer>

</html>