<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flip Card Fair</title>
    <link rel="stylesheet" href="card_flip_fair.css">
</head>

<body>
    <!-- Photo by <a href="https://unsplash.com/fr/@ethanchoover?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Ethan Hoover</a> on <a href="https://unsplash.com/s/photos/carousel?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
    <!-- Photo by <a href="https://unsplash.com/@jpdelacruz?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jhon Paul Dela Cruz</a> on <a href="https://unsplash.com/s/photos/carousel?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> -->
    <div class="card">
        <div class="card__content">
            <div class="card__front">
                <h3 class="card__title">The Fair</h3>
                <p class="card__subtitle">Time for some fun</p>
            </div>
            <div class="card__back">
                <p class="card__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt consectetur
                    nesciunt quo impedit esse mollitia ullam eius saepe, odio cupiditate porro, at facilis.</p>
            </div>
        </div>
    </div>

</body>
<footer>
    <div class="attribution">
        <div>
            <a href="https://www.youtube.com/watch?v=FeJEEE3zc4U"><img src="images/yt_icon_mono_light.png" alt=""></a>
            YouTube Tutorial by <a href="https://www.youtube.com/@KevinPowell" target="_blank">Kevin Powell</a>.
        </div>
        <div>
            <p>Coded by <a href="https://atarak.github.io/">Atarak</a>.</p>
        </div>
    </div>
</footer>

</html>