<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directionally-aware button</title>
    <link rel="stylesheet" href="button_direction.css">
</head>

<body>
    <button>
        <span></span>
        Click me
        <span></span>
    </button>
    <footer>
        <div class="attribution">
            <div>
                <a href="https://www.youtube.com/watch?v=e3w9liPXSi4"><img src="assets/yt_icon_mono_dark.png"
                        alt=""></a>
                YouTube Tutorial by <a href="https://www.youtube.com/@KevinPowell" target="_blank">Kevin Powell</a>.
            </div>
            <div>
                <p>Coded by <a href="https://atarak.github.io/">Atarak</a>.</p>
            </div>
        </div>
    </footer>
</body>

</html>