/* Add CSS here */
:root {
    --clr-primary: #da2c4d;
    --clr-secondary: #a6cbf6;
    --clr-bg-purple: #2c2446;
    --clr-bg-main: #13171e;
    --clr-bg-card: #1a1f28;

    --new-album-display: grid;
    --top-album-display: grid;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    margin: 0;
}

body {
    background: var(--clr-bg-purple);
    display: grid;
    height: 100dvh;
    place-content: center;
    color: var(--clr-secondary);
    font-family: system-ui, sans-serif;
}

main {
    background: var(--clr-bg-main);
    height: 75dvh;
    width: 90dvw;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.artist-img img {
    aspect-ratio: 1;
    object-fit: cover;
    height: 5em;
    border-radius: 50%;
}

ul {
    list-style-type: none;
}

li {
    list-style: none;
    display: inline;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]~label {
    cursor: pointer;
}

label {
    display: block;
    text-align: center;
    position: relative;
}

label:hover {
    color: white;
}

input[type="radio"]:checked+label {
    border-bottom: 2px solid var(--clr-secondary);
}


:root:has(#control_01:checked) {
    --new-album-display: grid;
    --top-album-display: none;
    border: 3px solid orange;
}

:root:has(#control_03:checked) {
    --new-album-display: none;
    --top-album-display: grid;
    border: 3px solid pink;
}

.new-album {
    display: var(--new-album-display);
}

.top-album {
    display: var(--top-album-display);
}

.card-main.nav {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    place-content: center;
}

.card-main.header {
    display: grid;
    grid-auto-flow: column;
    gap: 2em;
    position: relative;
}

/* 
.card-main.header::before {
    content: "";
    position: absolute;
    width: 65px;
    height: 2px;
    background: var(--clr-secondary);
    bottom: -5px;
} */

.card-main.nav .nav-items {
    opacity: 0.75;
    font-size: 0.75em;
}

/* .card-main.nav .nav-item:nth-of-type(1) {
    opacity: 1;
    font-weight: 900;
} */

.card {
    max-width: 300px;
    width: 50%;
    height: 90%;
    background: var(--clr-bg-card);
}

.card-main {
    position: relative;
}

.card-main .title {
    font-weight: 700;
    padding: 0.75em 0.5em;
    font-size: 1.2em;
    /* border: 3px solid blue; */
    margin: 0;
}


.album-container {
    position: relative;
}

.card-main.albums {
    display: grid;
    grid-auto-flow: column;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    grid-auto-columns: 100%;
    padding: 1rem;
    margin: 0 1em;
    /* scroll-padding-inline: 3rem; */
}

.album-preview {
    font-size: 0.85em;
    /* display: grid; */
    grid-template-rows: 1fr 1fr 5fr;
    grid-template-columns: 3fr 1fr 2fr 1fr;
    height: 12em;
    overflow-y: hidden;
    grid-template-areas: "a" "b" "c" "d";
    overflow-x: hidden;
}

.album-preview .album-title {
    grid-area: 1 / 1 / 2 / 1;
    font-size: 0.75em;
    font-weight: 700;
}

.album-preview .album-tag {
    grid-area: 1 / 3 / 2 / 4;
    font-size: 0.6em;
    text-align: center;
    border: 1px solid var(--clr-primary);
    border-radius: 0.5em;
}

.album-preview .album-artist {
    grid-area: 2 / 1 / 3 / 1;
    opacity: 0.75;
}

.album-img {
    grid-area: 3 / 1 / 4 / 4;
    padding: 0.25em;
}

.album-img img {
    height: 100%;
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 0.25em;
    object-fit: cover;
    overflow: hidden;
}

.nextdiv {
    grid-area: 3 / 4;
    z-index: 10;
    background: blue;
    width: 50px;
    height: 100%;
    opacity: 0;
}

.prevdiv {
    grid-area: 3 / 1;
    z-index: 10;
    width: 50px;
    background: red;
    height: 100%;
    opacity: 0;
}

.album-preview:nth-of-type(1) .nextdiv:hover,
.album-preview:nth-of-type(2) .prevdiv:hover,
.album-preview:nth-of-type(2) .nextdiv:hover,
.album-preview:nth-of-type(3) .prevdiv:hover {
    opacity: 0.75;
    transition: opacity 500ms;
}

.navigation-indicators {
    opacity: 0;
    position: fixed;
    display: flex;
    gap: 3px;

    top: -1rem;
    right: 2rem;
}

svg {
    z-index: 10;
}

.navigation-indicators>* {
    width: 1rem;
    height: 2px;
    background: white;
    opacity: 0.5;
}

.albums:has(.album-preview:target) .navigation-indicators>*:nth-child(1) {
    opacity: 0.5;
}

.navigation-indicators>*:nth-child(1),
.albums:nth-child(1):target~.navigation-indicators>*:nth-child(1) {
    opacity: 1;
}

.albums:hover .navigation-indicators {
    opacity: 1;
}

.song-list {
    width: 80%;
    padding: 0 2em;
}

.song-list>* {
    font-size: 1eem;
    /* font-size: 0.5em; */
}

.song {
    display: grid;
    grid-template-columns: 2fr 5fr 1fr;
    align-items: center;
    column-gap: 0.5em;
    padding: 0.45em 0;
}

.artist-img img {
    grid-area: 1 / 1 / 2 / 1;
    font-size: 1em;
}

.song-details {
    grid-area: 1 / 2 / 2 / 2;
}

.song-details p {
    margin: 0;
    font-size: 0.5em;
}

.icon {
    position: relative;
}

.song-details .song-name {
    font-weight: 700;
}

.song-details .artist-name {
    font-size: 0.25em;
}

.song .icon,
.song img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: inline-block;
}

.song-select a {
    color: var(--clr-primary);
    text-decoration: none;
    text-align: center;
    position: relative;
    padding: 0.25em;
    font-size: 1.5em;
}

.song-select:hover {
    /* border: 1px solid red; */
    /* border-radius: 50%; */
    /* font-size: 2em; */
    transform: scale(1.5);
}

.song:has(.song-select:hover) {
    border: 1px solid rgba(166, 203, 246, 0.5);
    border-radius: 0.5em;
}

.subtitle {
    padding: 0 0.75em;
    padding-bottom: 0.25em;
    font-size: 0.85em;
    font-weight: 700;
}

.playing {
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    font-size: 0.5em;
    padding: 1em 3em;
    background: var(--clr-bg-main);
}

.playing::before {
    content: "";
    position: absolute;
    background: linear-gradient(to right, var(--clr-primary) 20%, 20%, var(--clr-secondary));
    width: 100%;
    height: 3px;
}

.playing p {
    margin: 0;
    font-size: 1.5em;
}

.playing i {
    font-size: 1.2em;
    padding: 0 0.5em;
}

.current-song {
    background: var(--clr-bg-main);
}

.controls {
    padding: 1em 0;
}

.footer-menu {
    display: flex;
    justify-content: space-around;
    font-size: 1em;
    /* padding: 1em; */
}

.footer-menu .nav-item {
    display: inline;
    text-align: center;
    padding-top: 0.5em;
}

.footer-menu .nav-item:nth-of-type(3)>* {
    color: var(--clr-primary);
}

.footer-menu p {
    margin: 0;
    font-size: 0.5em;
}